/* share styles */

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.noto-serif-text {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.info{
    color: rgba(0,0,0,.4);
    font-size: 1.6rem;
}
.span{
    color: #E95A08;
}
.btn{
    color: #FFFFFF;
    background-color: #E95A08;
    font-size: 16px;
    border: none;
    padding: 26px 50px;
    width: 100%;
}
/* Navbar design */
.header{
    margin: 30px 140px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.navList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.home,.cart{
    color: #000000;
    font-size: 16px;
}
.shop,.about{
    color: #8987A1;
}
/* banner design */
.banner{
    margin: 100px 150px;
}
.banner-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-item{
    position: bottom;
}

.banner-title{
    color: #000000;
    font-size: 4rem;
}
/* plant section design */
.plants{
    margin: 210px 150px;
    text-align: center;
    align-items: center;
}
.plant-title{
    font-weight: bold;
    font-size: 4rem;
    color: #000000;
}
.plants-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 20px
}
.plant-item{
    width: 100%;
    text-align: center;
}
.item-title{
    color: #111111;
    font-weight: 500;
    font-size: 1.4rem;
}
.price{
    font-weight: bold;
    font-size: 1.4rem;
    color: #111111;
}
/* Lover points design */
.plants-lover {
  margin: 0 150px;
}
.lover-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  position: relative;
}
.lover-item {
  flex: 1;
  min-width: 300px;
}
.lover-item img {
  width: 100%;
  height: auto;
}
.love-title {
  font-weight: bold;
  font-size: 4rem;
  color: #000000;
}

.lover-info ul li {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
  list-style-type: disc;
  margin-left: 1em;
  margin-bottom: 8px;
}
.trust {
  position: absolute;
  top: -110px;
  left: 35%;
  width: 286px;
  height: 286px;
}
.trust img {
  width: 100%;
  height: auto;
}

/* Join Section design */
.join{
    display: flex;
    background-image: linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4))
    , url('news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: center;
}
.join-detail{
    text-align: center;
}
.join-title{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bold;
}
.sub-btn{
    width: auto;
    font-weight: 600;
    font-size: 16px;
}
.search-bar{
    width: 50vh;
    border: none;
    color: rgba(0,0,0,.5);
    padding: 26px 50px;
    font-size: 16px;
    
}
/* footer design */
.foot-container{
    padding: 50px 150px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: start;
    gap: 110px;
}
.foot-info{
    margin-top: 20px;
    color: rgba(0,0,0,.5);
    font-size: 22px;
}
.foot-item ul li{
    list-style-type: none;
}
.foot-item ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #6B7280;
    line-height: 2.7;
}
.foot-image{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    gap: 25px;
}

/* responsive */

@media screen and (max-width: 393px){
    .btn{
        color: #FFFFFF;
        background-color: #E95A08;
        font-size: 16px;
        border: none;
        padding: 25px 30px;
        width: 100%;
    }

    .header{
        margin: 28px 16px;
    }
    .home,.shop,.about{
        display: none;
    }

    /* banner */
    .banner-box{
        display: flex;
        flex-direction: column-reverse;
        align-content: start;
    }
    .banner-image{
        width: 380px;
    }
    .banner-image img{
        width: 100%;
    }
    

    /* plants */
    .plants{
        margin:14px;
        text-align: center;
        align-items: center;
    }
    .plants-box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 28px 20px
    }
    .plant-title{
        font-size:2rem;
    }
    .info{
        font-size: 1rem;
    }
    .plant-item{
        width: 171px;
        text-align: center;
    }
    .plant-item img{
        width: 100%;
        height: auto;
    }
    /* lover */
    .plants-lover {
        margin: 14px;
        align-content: center;
        align-items: center;
    }
    .lover-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        position: relative;
    }
    .trust {
        display: none;
    }
    .lover-item-image{
        display: flex;
        align-items: center;
        justify-items: center;
        width: 361px;
        align-content: center;
    }
    .lover-item img {
        width: 100%;
    }
    .love-title {
        font-size: 1.5rem;
    }
    .lover-info ul li{
        font-size: 14px;
    }

    /* join */
    .bar-btn{
        display: flex;
    }
    .join-title{
        color: #FFFFFF;
        font-size: 20px;
        font-weight: bold;
    }
    .sub-btn{
        padding: 10px 28px;
    }
    .search-bar{
        width:113px;
        padding: 10px 28px;
    
    }
    /* foot */
    .foot-container{
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .foot-info{
        font-size: 1rem;
    }
}