/* share styles */

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.noto-serif-text {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.info{
    color: rgba(0,0,0,.4);
    font-size: 1.6rem;
}
.span{
    color: #E95A08;
}
.btn{
    color: #FFFFFF;
    background-color: #E95A08;
    font-size: 16px;
    border: none;
    padding: 26px 50px;
    width: 100%;
}


/* Navbar design */
.header{
    margin: 30px 140px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.navList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.home,.cart{
    color: #000000;
    font-size: 16px;
}
.shop,.about{
    color: #8987A1;
}
/* banner design */
.banner{
    margin: 100px 150px;
}
.banner-box{
    width: 100%;
}
.banner-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-item{
    position: bottom;
}

.banner-title{
    color: #000000;
    font-size: 4rem;
}
/* plant section design */
.plants{
    margin: 0 150px;
    text-align: center;
    align-items: center;
}
.plant-title{
    font-weight: bold;
    font-size: 4rem;
    color: #000000;
}
.plants-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 20px
}
.plant-item{
    width: 100%;
    text-align: center;
}
.item-title{
    color: #111111;
    font-weight: 500;
    font-size: 22px;
}
.price{
    font-weight: bold;
    font-size: 22px;
    color: #111111;
}